
    <div nz-row>
      <div nz-col nzSpan="8">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="Tìm kiếm..." />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
      </div>
       <div nz-col nzOffset="12">
    <a (click)="click(subject)">Thêm bộ môn </a>
    </div>
    </div>
    <nz-table [nzData]="subjects" [nzPageSize]="7" #basicTable >
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên Bộ Môn </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subject of basicTable.data; let i = index;" (dblclick)="doubleClick(subject)" [class.selected]="subject === selectedSubject">
        <td>{{i + 1}}</td>
        <td>{{ subject.subjectName }}</td>
        <td>
          <button nz-button nzType="primary" (click)="delete(subject.subjectID)" [disabled]="subject.isDeleting" nzDanger>
            <span *ngIf="subject.isDeleting"></span>
            <span *ngIf="!subject.isDeleting">xoá</span>
          </button>
        </td>
    </tbody>
  </nz-table>
  <nz-modal  [(nzVisible)]="isVisible" nzTitle="Quản lý bộ môn" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <form class="form-horizontal" #subjectForm="ngForm" role="form">
        <nz-input-group><div> Tên bộ môn</div>
          <input type="text" [(ngModel)]="subject.subjectName"  name="code" id="code" class="form-control" />
        </nz-input-group>
    </form>
    </ng-container>
  </nz-modal>
