<div class="right col right_home">
  <div class="title_page">
      <h1 class="center">
        Chào Mừng Quý Thầy - Cô Đến Với Phần Mềm Quản Lý Thực Hành</h1>
  </div>
  <br>
  <br>
  <div class="logo_home">
      <div class="center">
          <img
          nz-image
          width="400px"
          height="400px"
          src="/assets/image/logo.jpg" />
          <img
          nz-image
          width="400px"
          height="400px"
          src="/assets/image/logo_khoa.jpg" />
      </div>
  </div>
</div>
